
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <label>Введите логин:</label><br />
    <input type="text" name="login" /><br /><br />
    <label>Введите пароль:</label><br />
    <input type="text" name="password" /><br /><br />
    <label>Введите полное имя:</label><br />
    <input type="text" name="FullName" /><br /><br />
    <label>Введите дату рождения:</label><br />
    <input type="text" name="birthdate" /><br /><br />
    <input type="submit" value="Регистрация" />
</form>

